@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Conner Home Page";
}

<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Conner
                <span class="text-primary">Tracy</span> <!--Preferred Name-->
            </h1>
            <div class="subheading mb-5">
                888 N 500 W · Provo, UT 84601 · (801) 123-4567 ·
                <a href="mailto:cjtracy16@byu.edu">cjtracy16@byu.edu</a>
            </div>

            <h3>I Love River Rafting</h3> <!--Something I Enjoy-->
            <img src="img/raft.JPG" />

            <!--What I hope to get out of IS 413-->
            <p id="meText">This semester I hope that I can increase my ability to learn new programing languages. I also hope to better learn how make web applications that are more secure. I hope to learn how to better use the debugger and other debugging tools. I want to learn how to be more meticulous regarding my code. I also hope that I can continue to learn how to problem solve, work in a team, and how to do hard things. </p>

            <h3 id="jobs">Top Jobs:</h3> <!--Top #3 jobs I am interested in-->
            <ul>
                <li>IT/Tech Consulting</li>
                <li>Cyber Security</li>
                <li>Data Analyst</li>
            </ul>
        </div>
    </section>
</div>
